{% load static %}

{% block content %}
    {% if user.userprofile.user_type == 'arrendador' %}
    <div class="container w-90 my-5">
        <h2 class="text-center display-4 fw-bold mb-4">Inmuebles creados</h2>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Nombre</th>
                    <th>Descripción</th>
                    <th>Precio Mensual</th>
                    <th>Tipo</th>
                    <th>Comuna</th>
                    <th>Región</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                {% for inmueble in inmuebles %}
                <tr>
                    <td>{{ inmueble.nombre }}</td>
                    <td>{{ inmueble.descripcion }}</td>
                    <td>{{ inmueble.precio_mensual }} CLP</td>
                    <td>{{ inmueble.get_tipo_inmueble_display }}</td>
                    <td>{{ inmueble.comuna }}</td>
                    <td>{{ inmueble.region }}</td>
                    <td>
                        <a href="{% url 'editar_inmueble' inmueble.id %}" class="btn btn-warning btn-sm">Editar</a>
                        <button class="btn btn-danger btn-sm" data-bs-toggle="modal" data-bs-target="#deleteModal-{{ inmueble.id }}">
                            Eliminar
                        </button>
                    </td>
                </tr>

                <!-- Modal de Confirmación -->
                <div class="modal fade" id="deleteModal-{{ inmueble.id }}" tabindex="-1" aria-labelledby="deleteModalLabel-{{ inmueble.id }}" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="deleteModalLabel-{{ inmueble.id }}">Confirmar eliminación</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <p>¿Estás seguro de que deseas eliminar la propiedad "{{ inmueble.nombre }}"?</p>
                            </div>
                            <div class="modal-footer">
                                <form method="post" action="{% url 'eliminar_inmueble' inmueble.id %}">
                                    {% csrf_token %}
                                    <button type="submit" class="btn btn-danger">
                                        <i class="bi bi-check-circle">Si, Eliminar</i>
                                    </button>
                                </form>
                                <button type="button" class="btn btn-outline-danger ms-2" data-bs-dismiss="modal">
                                    <i class="bi bi-check-circle">No, Vovler</i><!-- Ícono -->
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
                {% empty %}
                <tr>
                    <td colspan="7" class="text-center">No hay inmuebles disponibles.</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    {% elif user.userprofile.user_type == 'arrendatario' %}
    
    <div class="container w-90 my-5">
        <h2 class="display-3 text-center fw-bold my-3">Mira Nuestro Catálogo Disponible</h2>
        
        <div class="row row-cols-1 row-cols-md-3 g-4">
            {% for inmueble in inmuebles %}
            <div class="col">
                <div class="card">
                    <div class="card-image">
                        {% if inmueble.tipo_inmueble == 'casa' %}
                            <img src="{% static 'images/casa.webp' %}" alt="Imagen de {{ inmueble.tipo_inmueble }}" class="card-img-top">
                        {% elif inmueble.tipo_inmueble == 'departamento' %}
                            <img src="{% static 'images/departamento.webp' %}" alt="Imagen de {{ inmueble.tipo_inmueble }}" class="card-img-top">
                        {% elif inmueble.tipo_inmueble == 'oficina' %}
                            <img src="{% static 'images/oficina.webp' %}" alt="Imagen de {{ inmueble.tipo_inmueble }}" class="card-img-top">
                        {% else %}
                            <img src="https://via.placeholder.com/300x200" alt="Sin Imagen" class="card-img-top">
                        {% endif %}
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">{{ inmueble.nombre }}</h5>
                        <p class="card-text">{{ inmueble.descripcion|truncatewords:20 }}</p>
                        <ul class="list-unstyled">
                            <li><strong>Precio Mensual:</strong> {{ inmueble.precio_mensual }} CLP</li>
                            <li><strong>Tipo:</strong> {{ inmueble.get_tipo_inmueble_display }}</li>
                            <li><strong>Comuna:</strong> {{ inmueble.comuna }}</li>
                            <li><strong>Región:</strong> {{ inmueble.region }}</li>
                        </ul>
                    </div>
                    <div class="card-footer text-center">
                        <a href="{% url 'crear_solicitud_arriendo' inmueble.id %}" class="btn btn-success w-100">Solicitar Arriendo</a>
                    </div>
                </div>
            </div>
            {% empty %}
            <p>No hay inmuebles disponibles.</p>
            {% endfor %}
        </div>
    </div>

    {% endif %}
{% endblock %}
