{% load static %}

{% block content %}
    <h2>Lista de inmuebles disponibles</h2>
    <table>
        <tr>
            <th>Nombre</th>
            <th>Descripción</th>
            <th>Precio Mensual</th>
            <th>Tipo</th>
            <th>Comuna</th>
            <th>Región</th>
            {% if user.is_authenticated %}
            <th>Acciones</th>
            {% endif %}
        </tr>
        {% for inmueble in inmuebles %}
        <tr>
            <td>{{ inmueble.nombre }}</td>
            <td>{{ inmueble.descripcion }}</td>
            <td>{{ inmueble.precio_mensual }}</td>
            <td>{{ inmueble.get_tipo_inmueble_display }}</td>
            <td>{{ inmueble.comuna }}</td>
            <td>{{ inmueble.region }}</td>
            {% if user.is_authenticated %}
            <td>
                <!-- Agregar acciones solo para usuarios autenticados -->
                <a href="{% url 'editar_inmueble' inmueble.id %}">Editar</a> | 
                <a href="{% url 'eliminar_inmueble' inmueble.id %}">Eliminar</a>
            </td>
            {% endif %}
        </tr>
        {% empty %}
        <tr>
            <td colspan="6">No hay inmuebles disponibles.</td>
        </tr>
        {% endfor %}
    </table>
{% endblock %}
