{% extends 'aptrent/layout/base.html' %}
{% load static %}

{% block content %}
    <h2>Lista de inmuebles disponibles</h2>
    <table>
        <tr>
            <th>Nombre</th>
            <th>Descripción</th>
            <th>Precio Mensual</th>
            <th>Tipo</th>
            <th>Comuna</th>
            <th>Región</th>
        </tr>
        {% for inmueble in inmuebles %}
        <tr>
            <td>{{ inmueble.nombre }}</td>
            <td>{{ inmueble.descripcion }}</td>
            <td>{{ inmueble.precio_mensual }}</td>
            <td>{{ inmueble.get_tipo_inmueble_display }}</td>
            <td>{{ inmueble.comuna }}</td>
            <td>{{ inmueble.region }}</td>
        </tr>
        {% empty %}
        <tr>
            <td colspan="6">No hay inmuebles disponibles.</td>
        </tr>
        {% endfor %}
    </table>
{% endblock %}
