{% load static %}

{% block content %}
<div class="container w-90 my-5">
<h2 class="display-3 text-center fw-bold my-3">Mira nuestro Catálogo Disponible</h2>

<div class="card-container ">
    {% for inmueble in inmuebles %}
    <div class="card">
        <div class="card-image">
            {% if inmueble.tipo_inmueble == 'casa' %}
                <img src="{% static 'images/casa.webp' %}" alt="Imagen de {{ inmueble.tipo_inmueble }}">
            {% elif inmueble.tipo_inmueble == 'departamento' %}
                <img src="{% static 'images/departamento.webp' %}" alt="Imagen de {{ inmueble.tipo_inmueble }}">
            {% elif inmueble.tipo_inmueble == 'oficina' %}
                <img src="{% static 'images/oficina.webp' %}" alt="Imagen de {{ inmueble.tipo_inmueble }}">
            {% else %}
                <img src="https://via.placeholder.com/300x200" alt="Sin Imagen">
            {% endif %}
        </div>
        <div class="card-content">
            <h3>{{ inmueble.nombre }}</h3>
            <p>{{ inmueble.descripcion|truncatewords:20 }}</p>
            <ul>
                <li><strong>Precio Mensual:</strong> {{ inmueble.precio_mensual }} CLP</li>
                <li><strong>Tipo:</strong> {{ inmueble.get_tipo_inmueble_display }}</li>
                <li><strong>Comuna:</strong> {{ inmueble.comuna }}</li>
                <li><strong>Región:</strong> {{ inmueble.region }}</li>
            </ul>
        </div>
    </div>
    {% empty %}
    <p>No hay inmuebles disponibles.</p>
    {% endfor %}
</div>
</div>
{% endblock %}
