{% extends 'aptrent/layout/base.html' %}
{% load static %}

{% block content %}

<section class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <h2 class="text-center mb-4">Tus Datos</h2>
            <form method="post" action="{% url 'perfil' %}" class="needs-validation" novalidate>
                {% csrf_token %}
                <!-- Nombre de Usuario -->
                <div class="mb-3">
                    <label for="username" class="form-label">Nombre de Usuario:</label>
                    <input 
                        type="text" 
                        id="username" 
                        name="username" 
                        value="{{ user.username }}" 
                        class="form-control" 
                        readonly>
                </div>
                
                <!-- Correo Electrónico -->
                <div class="mb-3">
                    <label for="email" class="form-label">Correo Electrónico:</label>
                    <input 
                        type="email" 
                        id="email" 
                        name="email" 
                        value="{{ user.email }}" 
                        class="form-control">
                </div>
                
                <!-- RUT -->
                <div class="mb-3">
                    <label for="rut" class="form-label">RUT:</label>
                    <input 
                        type="text" 
                        id="rut" 
                        name="rut" 
                        value="{{ user.userprofile.rut }}" 
                        class="form-control" 
                        readonly>
                </div>
                
                <!-- Teléfono -->
                <div class="mb-3">
                    <label for="telefono" class="form-label">Teléfono:</label>
                    <input 
                        type="text" 
                        id="telefono" 
                        name="telefono" 
                        value="{{ user.userprofile.telefono }}" 
                        class="form-control">
                </div>
                
                <!-- Dirección -->
                <div class="mb-3">
                    <label for="direccion" class="form-label">Dirección:</label>
                    <input 
                        type="text" 
                        id="direccion" 
                        name="direccion" 
                        value="{{ user.userprofile.direccion }}" 
                        class="form-control">
                </div>
                
                <!-- Botón de Guardar Cambios -->
                <div class="text-center">
                    <button type="submit" class="btn btn-primary">Guardar Cambios</button>
                </div>
            </form>
        </div>
    </div>
</section>
{% endblock %}
