{% extends 'aptrent/layout/base.html' %}

{% block content %}
<h2>Mis Solicitudes de Arriendo</h2>

<table class="table table-striped">
    <thead>
        <tr>
            <th>Inmueble</th>
            <th>Dirección</th>
            <th>Fecha de Solicitud</th>
            <th>Estado</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
        {% for solicitud in solicitudes %}
        <tr>
            <td>{{ solicitud.inmueble.nombre }}</td>
            <td>{{ solicitud.inmueble.direccion }}</td>
            <td>{{ solicitud.fecha_solicitud }}</td>
            <td>{{ solicitud.get_estado_solicitud_display }}</td>
            <td>
                <a href="{% url 'eliminar_solicitud' solicitud.id_solicitud %}" class="btn btn-danger btn-sm">Anular Solicitud</a>
            </td>
        </tr>
        {% empty %}
        <tr>
            <td colspan="4">No has realizado solicitudes de arriendo.</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
